@import '../../ColorVariables';

header {
  border: 5px solid $blue;
  font-size: 34px;
  margin: 0 auto;
  max-width: 640px;
  padding: 5px 10px;
  text-align: center;
  box-sizing: border-box;
}

.nav-bar {
  padding: 0 15px;
  margin: 10px auto;
}

.menu {
  background-color: $blue;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  list-style-type: none;
  &__item {
    padding: 10px 15px;
    &:hover {
      cursor: pointer;
      background-color: #2d5cb7;
    }
  }
  &__link {
    color: #eee;
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
  }
}

@media screen and (max-width: 800px) {
  header {
    font-size: 26px;
    padding: 0 5px;
    margin: 0 0 0 1.5%;
    width: 44%;
  }
}

@media screen and (max-width: 510px) {
  header {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}