@import "../../../ColorVariables";

aside {
  display: flex;
  width: 30%;
  .title {
    text-align: center;
  }
  .container {
    align-self: center;
    width: auto;
    border: 2px solid $blue-btn-d;
    box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.5);
    margin: 10px;
    padding: 15px;
    text-align: left;
  }
  table, td {
    border: 1px solid $txt;
  }
  .content {
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    td {
      padding: 5px;
      &:nth-child(odd) {
        width: 75%;
      }
      &:nth-child(even) {
        width: 25%;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  aside .container {
    align-self: flex-start;
  }
  aside {
    width: 35%;
  }
}
@media screen and (max-width: 800px) {
  aside {
    & .container {
      position: fixed;
      top: 0px;
      margin: 0;
      background-color: $blue-btn-l;
      color: white;
      table, td {
        border-color: white;
        font-size: 18px;
      }
    }
    & .title {
      font-size: 21px;
    }
  }
  aside {
    width: 50%;
  }
}
@media screen and (max-width: 510px) {
  aside {
    display: none;
  }
}