body {
  color: #333333;
  font: 400 16px/18px Helvetica, 'Open Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
}
a:active img {
  border: none;
  text-decoration: none;
  outline: none;
}
button {
  border: none;
  border-radius: 5px;
  outline: none;
}
