figure:hover {
  box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.5);
}
.preloader:active {
  background-color: $blue-btn-d;
}
@media screen and (max-width: 960px) {
  aside .container {
    align-self: flex-start;
  }
  aside {
    width: 35%;
  }
  figcaption {
    width: 60%;
  }
  figure {
    width: 45%;
  }
}
@media screen and (max-width: 800px) {
  header {
    font-size: 26px;
    padding: 0 5px;
    margin: 0 0 0 1.5%;
    width: 44%;
  }
  .preloader {
    font-size: 30px;
  }
  aside {
    & .container {
      position: fixed;
      top: 0px;
      margin: 0;
      background-color: $blue-btn-l;
      color: white;
      table, td {
        border-color: white;
        font-size: 18px;
      }
    }
    & .title {
      font-size: 21px;
    }
  }
  aside, figcaption {
    width: 50%;
  }
  figure {
    width: 100%;
  }
}
@media screen and (max-width: 510px) {
  aside {
    display: none;
  }
  figcaption, header {
    width: 100%;
  }
  header {
    margin: 0;
    padding: 0;
  }
  figure {
    text-align: center;
  }
}