.red-btn {
  background: linear-gradient(to bottom, $red-btn-l, $red-btn-d);
}
.yellow-btn {
  background: linear-gradient(to bottom, $yellow-btn-l, $yellow-btn-d);
}
.green-btn {
  background: linear-gradient(to bottom, $green-btn-l, $green-btn-d);
}
.blue-btn {
  background: linear-gradient(to bottom, $blue-btn-l, $blue-btn-d);
}
.purple-btn {
  background: linear-gradient(to bottom, $purple-btn-l, $purple-btn-d);
}
