$blue: #003399;
$txt: #333333;

$red-btn-l: rgb(234, 95, 95);
$red-btn-d: rgb(184, 55, 55);
$yellow-btn-l: rgb(267, 282, 131);
$yellow-btn-d: rgb(217, 222, 81);
$green-btn-l: rgb(99, 234, 134);
$green-btn-d: rgb(59, 184, 84);
$blue-btn-l: rgb(0, 134, 295);
$blue-btn-d: rgb(0, 94, 245);
$purple-btn-l: rgb(142, 94, 176);
$purple-btn-d: rgb(112, 44, 146);